# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
DerivedData/
build/
/dist/
*.ipa
*.dSYM.zip
*.dSYM
*.profraw

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Local environment
*.local
.env
